@mixin nc-2-base {
    .notification-count-2::before{
        content: "";
        height: 1rem;
        width:95%;
        position: absolute;
        bottom: -6px;
        border-radius: .25rem;
        left:50%;
        transform: translateX(-50%);
transition: 300ms ease-in-out;
        z-index: 1;
    }
}
@mixin nc-2 ($bg-color, $type) {
    &.#{$type} {
        &::before{
            background-color: transparentize($color: $bg-color, $amount: 0.2); 
        }

        &.custom-stack {
            &::before{
                background-color: var(--notification-primary-color)!important; 
            }
        }
    }
}

@mixin nc-3-base {
    .notification-count-3::before{
        content: "";
        height: 1rem;
        width:95%;
        position: absolute;
        bottom: -6px;
        border-radius: .25rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        left:50%;
        transform: translateX(-50%);

        transition: 300ms ease-in-out;
        z-index: 1;
    }
    .notification-count-3::after {
        content: "";
        height: 1rem;
        width:90%;
        position: absolute;
        bottom: -11px;
        border-radius: .20rem;
        left:50%;
        transform: translateX(-50%);
        transition: 300ms ease-in-out;
        z-index: 2;
    }
}
@mixin nc-3 ($bg-color, $type){
    &.#{$type} {
        &::before{
            background-color: transparentize($color: $bg-color, $amount: 0.2);
        }

        &.custom-stack {
            &::before{
                background-color: var(--notification-primary-color)!important; 
            }
        }
    }
    &.#{$type} {
        &::after{
            background-color: transparentize($color: $bg-color, $amount: 0.4);
        }

        &.custom-stack {
            &::after{
                background-color: var(--notification-secondary-color)!important; 
            }
        }
    }
}